.c-main-list .c-flap-menu .c-flap-list .c-red-button-wrapper {
    border: 1px solid #ff3c54;
    border-radius: 24px;
    color: #ff3c54;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 2px 10px;
}

.c-main-list .c-flap-menu .c-flap-list li + li .c-red-button-wrapper {
    margin-top: 12px;
}

.c-main-list .c-flap-menu .c-flap-list .c-red-button-wrapper:hover {
    color: white;
    background-color: #e00034;
    border-color: #e00034;
}
@media screen and (min-width: 1468px) {
    
    .c-main-list .c-flap-menu .c-close-flap-element,
    .c-close-flap-icon,
    .c-close-flap-element,
    .c-header-list-container .c-flap-menu .c-flap-category-title-mobile {
        display: none;
    }

    .c-header-list {
        padding-left: 360px;
    }

    .c-main-list .c-flap-menu {
        background: #f5f7fa;
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 -1px 8px 0 rgba(0, 0, 0, 0.2);
        color: black;      
        left: 0;
        max-height: 0;
        overflow: hidden;   
        position: absolute;
        top: 100%;
        -webkit-transition:max-height, 0.2s ease-in-out;
        -moz-transition: max-height, 0.2s ease-in-out;
        -ms-transition: max-height, 0.2s ease-in-out;
        -o-transition: max-height, 0.2s ease-in-out;
        transition: max-height, 0.2s ease-in-out;
        transition-delay: 0s;
        width: 100%;
    }

    .c-main-list:hover .c-flap-menu {
        max-height:500px;
        transition-delay: .3s;
    }

    .c-main-list .c-flap-menu .c-flap-content-wrapper {
        max-width: 1024px;
        position: relative;
        text-align: left;
        width: 100%;
    }
    
    .c-main-list .c-flap-menu .c-flap-list {
        box-sizing: border-box;
        color: #666;
        display: inline-block;
        font-weight: bold;
        margin-top: 0;
        padding: 20px 35px;
        text-align: left;
        vertical-align: top;
        width: 33%;
    }
 
    .c-main-list .c-flap-menu .c-flap-list > ul {
        list-style-type: none;
        text-align: left;
        padding: 0;
    }

    .c-main-list .c-flap-menu .c-flap-list .c-flap-title {
        font-size: 16px;
        line-height: 1em;
        padding-bottom: 16px;
        min-height: 16px;
        box-sizing: content-box;
    }
    
    .c-main-list .c-flap-menu .c-flap-list a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 16px;
        line-height: 1em;
        padding: 4px 0;
        display: inline-block;
    }

    .c-main-list .c-flap-menu .c-flap-list a:hover {
        color: #e00934;
    }
}
@media screen and (max-width: 1467px) {
    .c-flap-menu{
        display: none;
    }

    input[type="radio"]:checked + .c-flap-menu {
        background: #f5f7fa;
        bottom: 0;
        display: block;
        left: 0;
        padding: 12px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 200;
    }

    .first-flap-list, .second-flap-list, .third-flap-list{
        padding: 10px;
    }

    .c-flap-menu ul {
        margin: 0;
        font-size: 14px;
        list-style-type: none;
    }

    .c-flap-menu li {
        padding-left: 10px;
        font-size: 16px;
    }

    .c-flap-menu a {
        color: #333;
        text-decoration: none;
    }

    .c-flap-menu a:hover {
        color: rgb(197, 7, 27);
    }

    a:hover + .c-flap-menu {
        position: absolute;
        display: block;
        background: #f5f7fa;
        box-shadow: 0 0 7px 1px rgba(0, 0, 0, .4);
        transition: all .3s ease-in-out;
        width: 100%;
        color: black;
    }
    .c-main-list .c-flap-menu .c-close-flap-element {
        display: none;
    }

    .c-close-flap-icon,
    .c-menu-icon-open {
        box-sizing: border-box;
        cursor: pointer;
    }

    .c-close-flap-icon {
        display: block;
        font-size: 12px;
    }

    .c-close-flap-icon span {
        line-height: 1em;
        vertical-align: middle;
    }

    .c-close-flap-icon svg {
        margin-right: 6px;
        vertical-align: middle;
    }

    .c-menu-icon-open {
        float: right;
        height: 38px;
        line-height: 38px;
        position: relative;
        text-align: center;
        width: 40px;
        z-index: 2;
    }


    .c-flap-menu .c-flap-title {
        color: #aab2bd;
        font-weight: 700;
        line-height: inherit;
        transition: all .2s ease-in-out;
        display: block;
        padding: 15px 40px 10px 10px;
        font-size: 15px;
    }

    .c-flap-menu .c-flap-category-title-mobile {
        color: #262626;
    }

    .c-flap-menu .c-flap-title:empty {
        padding: 0;
    }

    .c-flap-menu .c-flap-list > div:first-child .c-flap-title {
        padding-top: 0;
    }

    .c-flap-menu .c-flap-title + .c-flap-list {
        padding-top: 0;
    }

    .c-flap-menu .c-flap-list ul {
        padding:0
    }

    .c-main-list .c-flap-menu .c-flap-list .c-red-button-wrapper {
        margin-top: 6px;
    }

    .toogle-section {
        visibility: visible;
        display: inline-block;
        height: 38px;
        width: 50px;
        margin-left: 30px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        line-height: 35px;
        border-left: 2px solid #373737;
    }

    .c-menu-radio-list {
        display: none;
    }

    .fa-home {
        margin-right: 5px;
    }
}


.headersl {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    color: #000000;
    font-family: 'Cera SL', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    min-height: 70px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 10003;
}

.c-header-container {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    height: 70px;
}

.c-head {
    height: 100%;
}

.c-head-logo {
    display: inline-block;
    height: 100%;
}

.c-head-logo a {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    width: 93px;
    height: 22px;
    padding: 24px;
    padding-right: 12px;
    z-index: 2;
}

.c-head-logo a svg {
    position: absolute;
    background: #fff;
    fill: #E30513;
}

.c-head-logo a span {
    display: inline-block;
}


.c-header-container .kit-modules-wrapper {
    height: 100%;
    max-height: 70px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 2;
}

.c-header-container .kit-modules-wrapper>div{
    display: inline-block;
    vertical-align: bottom;
}

.c-header-menu {
    height: 100%;
}

.c-header-list {
    margin: 0;
    position: relative;
}

.c-header-module-opener-text {
    color: #000000;
    font-size: 12px;
    margin-top: 4px;
}

.c-header-module-opener-content{
    height: 40px;
    padding: 0 12px;
}

.c-deposit-button {
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid #E30513;
    color: #E30513;
    background-color: white;
    border-radius: 22px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease;
    font-weight: 400;
    text-decoration: none;
    outline: none;
}

.c-deposit-button span {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.c-deposit-button:hover {
    border-color: #e30513;
    color: rgb(255, 255, 255);
    box-shadow: rgba(84, 15, 4, 0.16) 0px 8px 16px 0px;
}

.c-deposit-button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #e30513;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease 0s;
    z-index: 0;
    border-radius: 22px;
}

.c-deposit-button:hover:not(:disabled)::before {
    opacity: 1;
}

.c-deposit-button:active:not(:disabled)::before {
    opacity: 1;
    background: #A8030B;
    border-color: #A8030B;
}

.c-deposit-button:active {
    box-shadow: none;
}

.c-deposit-button:focus-visible {
    box-shadow: transparent 0px 8px 16px 0px, rgb(255, 255, 255) 0px 0px 0px 3px, rgb(34, 34, 34) 0px 0px 0px 4px;
}

.c-deposit-button svg {
    margin-right: 5px;
    vertical-align: bottom;
    fill: #E30513;
    transition: all 0.2s ease;
}

.c-deposit-button:hover svg {
    margin-right: 5px;
    vertical-align: bottom;
    fill: #fff;
}/***************************/
/* AFFICHAGE MENU DESKTOP */
/*************************/

@media screen and (max-width: 767px) {
    .c-deposit-wrapper-tablet {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1468px) {
    .c-deposit-wrapper {
        display: none;
    }

    .c-deposit-wrapper-tablet {
        display: inline-table;
        margin-top: -21px;
        margin-left: 12px;
        left: 133px;
        position: absolute;
        top: 35px;
    }
}

@media screen and (min-width: 1468px) {
    .c-header-list-container .c-menu-icon-checkbox,
    .c-header-list-container .c-menu-icon-open,
    .c-header-list-container .c-menu-radio-list,
    .headersl .c-menu-icon-checkbox,
    .c-header-list-container .c-main-link .c-menu-radio-list,
    .c-icon-close-menu, .c-icon-open-menu,
    .c-deposit-wrapper-tablet {
        display: none;
    }

    .c-deposit-wrapper {
        display: inline-table;
        margin-top: -21px;
        margin-left: 12px;
        left: 133px;
        position: absolute;
        top: 50%;
    }

    .c-header-list-container {
        list-style-type: none;
        margin: 0;
        position: absolute;
        width: 100%;
        text-align: left;
    }

    .c-header-list-container .c-main-list{
        display: inline-block;
        font-size: 16px;
    }

    .c-header-list-container .c-main-list .c-main-link {
        color: #000000;
        display: inline-block;
        height: 70px;
        line-height: 70px;
        padding: 0 8px;
        text-decoration: none;
        position: relative;
    }

    .c-header-list-container .c-main-list:hover .c-main-link {
        font-weight: 800;
    }

    .c-header-list-container .c-main-list .c-main-link:hover {
        cursor: pointer;
    }

    .c-header-list-container .c-main-list:hover .c-main-link:before {
        margin-left: -8px;
        border-width: 8px;
    }

    .c-header-hamburger-icon {
        position: relative;
    }
}/***************************/
/* AFFICHAGE MENU MOBILE */
/*************************/

@media screen and (max-width: 1467px) {
    .headersl {
        -webkit-user-select: none;
        user-select: none;
    }

    .c-header-container {
        background-color: #fff;
        top: 0;
        width: 100%;
    }

    .headersl input.c-menu-icon-checkbox {
        display: none;
    }

    .c-icon-close-menu {
        font-size: 14px;
    }

    .c-header-list-container {
        background: #f5f7fa;
        bottom: 0;
        margin: 0;
        list-style-type: none;
        padding: 0 12px 50px;
        position: fixed;
        overflow-y: auto;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        top: 70px;
    
        transform-origin: 0 0;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        z-index: 3;
    }

    .c-header-list {
        padding: 0;
    }

    .c-header-list-container li.c-main-list {
        display: block;
        border-bottom: 1px solid #ccd1d9;
    }

    .c-main-link-block {
        display: inline-block;
        width: 100%;
        padding-right: 40px;
        margin-right: -40px;
        box-sizing: border-box;
    }

    .c-header-list-container li a.c-main-link {
        box-sizing: border-box;
        color: #000000;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        line-height: 1em;
        padding: 12px 0;
        text-decoration: none;
        width: 100%;
    }

    .c-icon-open-menu .c-icon-menu {
        height: 40px;
    }

    .c-icon-close-menu .c-icon-menu {
        height: 20px;
    }

    .c-header-hamburger-wrapper{
        height: 18px;
    }

    .c-header-module-opener-text, .c-header-hamburger-text {
        line-height: 12px;
    }

    .c-header-hamburger-text {
        font-size: 12px;
        margin-top: 4px;
    }

    .headersl input.c-menu-icon-checkbox:checked {
        width: 82px;
    }

    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-list-container {
        transform: none;
    }

    .headersl input.c-menu-icon-checkbox ~ .c-header-opener {
        bottom: 0;
        height: 70px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 2;
    }
    
    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-container,
    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-opener {
        background-color: #fff;
        box-shadow: inset 0 -8px 11px -8px rgba(0,0,0,0.4);
        position: fixed;
    }

    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-container {
        left: 0;
        right: 50px;
        width: auto;
        z-index: 3;
    }

    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-container .kit-modules-wrapper {
        right: 0;
    }

    /* Hide icon menu */
    .headersl input.c-menu-icon-checkbox ~ .c-header-opener .c-icon-open-menu,
    .headersl input.c-menu-icon-checkbox ~ .c-header-opener .c-icon-close-menu {
        box-sizing: border-box;
        cursor: pointer;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        width: 50px;
    }

    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-opener .c-icon-open-menu {
        display: none;
    }

    .headersl input.c-menu-icon-checkbox:checked ~ .c-header-opener .c-icon-close-menu {
        display: table-cell;
    }

    .headersl input.c-menu-icon-checkbox ~ .c-header-opener .c-icon-close-menu {
        display: none;
    }

    .c-header-container .kit-modules-wrapper {
        right: 50px;
    }
}

@media screen and (max-width: 767px) {
    .headersl {
        min-height: 44px;
    }

    .c-header-container {
        height: 44px;
    }

    .c-head-logo a {
        padding: 11px 12px;
    }

    .c-header-list-container {
        top: 44px;
    }

    .headersl input.c-menu-icon-checkbox ~ .c-header-opener {
        height: 44px;
    }

    .headersl input.c-menu-icon-checkbox ~ .c-header-opener .c-icon-open-menu,
    .headersl input.c-menu-icon-checkbox ~ .c-header-opener .c-icon-close-menu {
        height: 44px;
        line-height: 44px;
    }

    .c-deposit-wrapper-tablet {
        display: none;
    }


    .c-deposit-wrapper {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .c-deposit-button {
        border: 1px solid #E30513;
        color: white;
        background-color: #E30513;
    }

    .c-deposit-button svg {
        fill: white;
    }

    .c-header-hamburger-text {
        display: none;
    }

    .c-header-container .kit-modules-wrapper{
        bottom: 10px;
    }

    .c-header-module-opener-content, .c-icon-close-menu .c-icon-menu{
        height: auto;
    }

    .c-header-module-opener-content:after{
        height: 18px;
        margin-top: -9px;
    }

    .c-header-hamburger-wrapper, .c-icon-open-menu .c-icon-menu{
        height: auto;
    }
}
/***************************/
/* AFFICHAGE MENU PRINT   */
/*************************/
@media print {
    .c-header-list-container,
    .headersl .c-header-opener,
    .headersl .c-menu-icon-checkbox,
    .c-header-container .kit-modules-wrapper {
        display: none;
    }

    .headersl {
        box-shadow: none;
        height: 22px;
        page-break-after: avoid;
    }

    .c-header-container {
        box-shadow: none;
        height: 22px;
    }

    .c-head-logo a {
        padding: 0 0 0 24px;
    }
}