{% extends 'search/base.html.twig' %}
{% block content %}
       <div data-testid="sl.explore.card-container" class="sc-hARARD cardMode_3 ListContent-sc-1viyr2k-0 bEZLZU sc-ccLTTT gXYseb">
        <div class="sc-dBaXSw kAViLA">
          <div data-testid="sl.expèlore.contact" class="sc-jMMfwr gHABLk">
            <div data-testid="sl.explore.agencyLogo" class="sc-ecaExY bczTQF">
              <div class="sc-gbzWSY cvfPhX">
                </div>
                </div>
                <div class="sc-jGxEUC iDypyC">
                  <div class="sc-jqIZGH sofyP">Book A Flat
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="sc-hlILIN jbwjjh">
                      <div class="sc-jQMNup iaGruF">
                        <div class="sc-cgHJcJ koRvIs">
                          <div class="sc-bIqbHp kXPmAg">
                            <div data-testid="sl.explore.PhotosContainer" class="sc-jxGEyO cCBGXb">
                              <img src="https://v.seloger.com/s/crop/340x220/visuels/2/6/4/6/2646x6psbg5s2swxbfyvac9bq2zgr8buy9ic9bng4.jpg" alt="Photo de la propriété" class="sc-hMrMfs cdDaUk"/>
                              <div class="sc-drlKqa dglyPI">
                                <div kind="default" data-testid="gsl.uilib.Badge" class="sc-cJSrbW lnMfi">Nouveauté
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  </div>
                                  <div class="sc-hizQCF fFzTMY">
                                    <div data-testid="sl.explore-card-price" data-test="sl.price-container" class="sc-hwcHae eQaWcq">
                                      <div class="sc-lnmtFM eBYGTG">
                                        <div data-test="sl.price-label" class="sc-erNlkL hRJauR">4 300 €
                                          </div>
                                          <div class="sc-iuDHTM iWcFWo">cc
                                            </div>
                                            </div>
                                            </div>
                                            <div data-test="sl.title" font-size="16" font-weight="600" class="sc-gGCbJM dJcULM">Appartement meublé
                                              </div>
                                              <div class="sc-lcpuFF bYFler">
                                                <ul data-test="sl.tagsLine" class="sc-bqjOQT fBZSTC">
                                                  <li>4 pièces</li>
                                                  <li>2 chambres</li>
                                                  <li>70 m²</li>
                                                  <li>Étage 6/–</li>
                                                  <li>Ascenseur</li>
                                                  </ul>
                                                  </div>
                                                  <div data-test="sl.address" class="sc-ciodno gUdbiq">Île de la Cité à Paris 1er (75001)
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="sc-cmIlrE cJPmqB">
                                                      <div class="sc-gleUXh crWZdN">
                                                        <a color="#000000" data-testid="sl.explore.externalLink" class="sc-fjhmcy ibsVrH">A voir sur Belles Demeures 
                                                          <div data-testid="gsl.uilib.Icon" style="margin-left:4px" class="sc-bdVaJa ffCAGj">
                                                            <svg width="1em" height="1em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img">
                                                            <defs>
                                                              <path d="M6.55 5.234c.413.343.455.939.092 1.33L4.18 9.102l13.845.088c.538 0 .974.412.974.921 0 .472-.376.862-.86.915l-.114.006-13.861-.088 2.33 2.52a.886.886 0 01-.087 1.298 1.005 1.005 0 01-.643.239.998.998 0 01-.73-.322l-3.788-4.061a.884.884 0 010-1.225l3.895-4.07c.363-.392.993-.431 1.407-.088z" id="arrow-right-bold_svg__a">
                                                                </path>
                                                                </defs>
                                                                <use fill="currentColor" transform="rotate(-180 10 10)" xlink:href="#arrow-right-bold_svg__a" fill-rule="evenodd">
                                                                  </use>
                                                                  </svg>
                                                                  </div>
                                                                  </a>
                                                                  </div>
                                                                  <div class="sc-doWzTn kzWpxo">
                                                                    <span class="sc-cCbXAZ OcCUH">
                                                                      <img src="https://v.seloger.com/s/crop/166x93/visuels/1/b/6/h/1b6hmy3n1jqesobaeczjhjjh7jwhd3m6j8wdexjsk.jpg" data-testid="sl.explore.ExtraPhoto_1" alt="photo" width="166" height="93" class="sc-ivVeuv liOTfz"/>
                                                                      <img src="https://v.seloger.com/s/crop/166x93/visuels/1/i/8/2/1i82l089ucwoidr12fhkevf8jcx3plmhokxgc07zo.jpg" data-testid="sl.explore.ExtraPhoto_2" alt="photo" width="166" height="93" class="sc-ivVeuv liOTfz"/>
                                                                      </span>
                                                                      </div>
                                                                      <p data-testid="sl.explore.card-description" class="sc-fHSTwm hPlaAW">
                                                                        <span class="sc-hdPSEv ctnFZd">
                                                                          </span>
                                                                          Location Appartement - REF. 10654 Très beau duplex meublé et entièrement rénové de 70m2, au 6ème étage avec ascenseur, situé place Dauphine dans le 1er arrondissement de Paris. Cet appartement se compose au premier niveau, d&#x27;un grand salon, d&#x27;une chambre avec salle-de-bain de bain attenante avec WC et cuisine séparée. Au deuxième niveau, se trouve un salon avec petite cuisine, WC indépendant ainsi qu&#x27;une chambre avec douche et lavabo. Le chauffage dans cet appartement est collectif au gaz. Disponible uniquement en bail code civil ou société.
                                                                          </p>
                                                                          </div>
                                                                          </div>
                                                                          <div data-testid="sl.explore.card-bellow" class="sc-iBmynh eRNvaP">
                                                                            <div data-testid="sl.explore.card-opener" class="sc-jvEmr huTbqq sc-bdVaJa cbkskm">
                                                                              <svg width="1em" height="1em" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img">
                                                                              <defs>
                                                                                <path d="M10.06 16a.749.749 0 01-.538-.234L1.34 7.402a.77.77 0 01-.323-.8.742.742 0 011.379-.217l7.663 7.775 7.664-7.835a.739.739 0 011.06.005c.291.3.29.785-.005 1.082l-8.251 8.364a.73.73 0 01-.468.224z" id="chevron-down-regular_svg__a">
                                                                                  </path>
                                                                                  </defs>
                                                                                  <use fill="currentColor" xlink:href="#chevron-down-regular_svg__a" fill-rule="evenodd">
                                                                                    </use>
                                                                                    </svg>
                                                                                    </div>
                                                                                    </div>
                                                                                    <a data-testid="sl.explore.coveringLink" title="Belles Demeures" href="https://www.bellesdemeures.com/annonces/location/tt-1-tb-1-pl-48506/220851519/#?cmp=INTSL_ListToDetail" target="_blank" class="sc-dTLGrV jfOmWT">
                                                                                    </a>
       </div>
      {% endblock %}
             
             