{% extends 'base.html.twig' %}

{% block title %}New EtatObjectToRent{% endblock %}

{% block body %}
    <h1>Create new EtatObjectToRent</h1>

    {{ include('etat_object_to_rent/_form.html.twig') }}

    <a href="{{ path('app_etat_object_to_rent_index') }}">back to list</a>
{% endblock %}
